html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    background-color: #008080;
    /* background-color: #FF8C00; */
    /* purple ? 9933FF */
}

body {
    font-family: "Lucida Console", Monaco, monospace;
    padding: 10px;
    color: #FF8C00;
    display: flex;
    flex-direction: column;
}

footer {
    /* keep at the bottom of the page */
    position: fixed;
    bottom: 0;
    /* full width */
    left: 0;
    right: 0;
    font-size: x-small;
    text-align: center;
    padding: 10px;
    color: black;
}

/* Target selection highlighting globally */
::selection {
    background-color: #ffcc00;
    /* Yellow background */
    color: black;
    /* Black text */
}

a:hover {
    outline: 50px solid #005fcc;
    /* Blue outline when focused (important for accessibility) */
    background-color: #e0f0ff;
    /* Light blue background when focused */
}